* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    color:#E6DA92;
}

.header nav {
    display: flex;
    flex-wrap: wrap; 
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

.header nav ul {
    list-style-type: none;    
}

.header nav ul li {
    display: inline-block; 
    margin-left: 25px;
}

.navMenu{
    width:"40%";
    padding: 0px;
    align-items: baseline;
    text-align: right;
} 

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: greenyellow;

}

p {
    font-size: 16px;
    display: block;
    justify-content: left;
}

/*style for image under nav bar*/
.imgHeader {
    height: 300px;    
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-position: center;
}


/* style for images in the left side*/
.float-left {
    float: left;
    padding:20px;
}


/* style for images in the right side*/
.float-right {
    float: right;
    padding: 20px;
}

.ResumePDF {
    border : 2px solid black;
}
/*style for the main area*/
 .mainContent { 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

/*style for the section, they are under the main*/
.mainSection {
    margin-bottom: 20px;
    display:inline-flex;
    align-items: flex-start;
    padding: 30px;
    height: 350px;
    width: 100%; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: justify;
    line-height: 1.8;
    background-color: #0072bb;
    color: #ffffff;
}

/*This style is for changing the list items that are in the section on main*/
.mainSection ul li{
    list-style-position: inside;
    list-style-type: square;
}

/* style for changing the color and bold them to pay attention more*/
span{
    font-weight: bold;
    color: #ECFA66;
}

/*maximum height for img in the section area under the main*/
.mainSection img{
    max-height: 250px;
}

/*The style of h2 in the section area under the main*/
.mainSection h2 {
    display:block;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 20px;
    font-size: 34px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

/*If the maximum size of screen is 1248px the color of the header will be changed to #347798. Also, the item shows as a block*/
@media screen and (max-width:1248px) {

    .header{
        background-color:#347798;
    }
    .mainSection{
        height: 600px;
        display: block;
        flex-direction: column;
    }

    .float-right {
        float: left;
        padding: 20px;
    }
}

/*If the maximum size of screen is 992px the color of the header will be changed to #4094BE. Also, the item shows as a block*/
@media screen and (max-width:992px) {
    .header{
        background-color:#4094BE;
    }
    .mainSection{
        height: 700px;
        display: block;
        flex-direction: column;
    }

    .float-right {
        float: left;
        padding: 20px;
    }
   
}

/*If the maximum size of screen is 768px the color of the header will be changed to #5FA6C9. Also, the item shows as a block*/
@media screen and (max-width:768px) {
    .header{
        padding: 60px;
        background-color:#5FA6C9;
    }
    .mainSection{
        height: 1000px;
        display: block;
        flex-direction: column;
    }
    .float-right {
        float: left;
        padding: 20px;
    }
    .header nav ul li {
        display: block; 
        margin-left: 5px;
        float: left;
    }
} 

/*If the maximum size of screen is 562px (mobile size) the color of the header will be changed to #1E4558. Also, the item shows as a block*/
@media screen and (max-width:562px) {
    .header{
        padding: 70px;
        background-color:#1E4558;
    }
    .mainSection{
        height: 1200px;
        display: block;
        flex-direction: column;
    }
    .float-right {
        float: left;
        padding: 20px;
    }

    .header nav ul li {
        display: block; 
        margin-left: 5px;
        float: left;
    }
    
}